/* Mohammad Halaweh - 0598939763 */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* My Font */
@font-face {
    src: url(../fonts/Metropolis-SemiBoldItalic.otf);
    font-family: MyFont;
}

:root {
    --background-color: #fff;
    --background: #F2F2F2;
    --text-color: #555;
    --background-card: #fff;
}


/*For Dark Mode */
.dark-theme {
    --background-color: #000;
    --text-color: #fff;
    --background: rgb(44, 44, 44);
    --background-card: rgb(44, 44, 44);
}


body {
    background: var(--background-color);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /* font-family: MyFont; */
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


/* ---------------------------------------------Start nav--------------------------------------------- */
nav {
    background: var(--background);
    height: 75px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.19);
}


.container {
    height: 650px;
    width: 60%;
    margin: auto;
    border-left: 1px solid rgba(0, 0, 0, 0.1);
    border-right: 1px solid rgba(0, 0, 0, 0.1);
    padding: 40px 20px 40px 20px;
}


.row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


ul {
    list-style: none;
}


nav .list-item {
    display: flex;
    margin-right: 290px;
    text-transform: capitalize;
}


nav .list-item .item a {
    color: var(--text-color);
    margin-left: 35px;
}



a {
    text-decoration: none;
}


button {
    margin-right: 30px;
    background-color: orange;
    padding: 7px 20px 7px 20px;
    color: white;
    font-size: 14.5px;
    font-weight: bold;
    text-transform: capitalize;
    border-radius: 10px;
    border: 1px solid orange;
    cursor: pointer;

}



button:active {
    border: 1px solid rgb(204, 138, 16);
    box-shadow: 0px 0px 6px 0px rgb(204, 138, 16);
}



nav .drops {
    /* background-color: red; */
    display: none;
    position: absolute;
    margin-top: 15px;
}



nav button .drops .drop {
    display: list-item;
    position: relative;
    padding-bottom: 10px;
    padding-left: 5px;
    padding-right: 50px;
    background: var(--background);
    color: var(--text-color);
}


nav button:focus>.drops,
nav button:active>.drops {
    display: inherit;
}


nav button .drops .drop i {
    margin-right: 12px;
    transition: 1s;
}

nav button .drops .drop:hover i {
    transform: translateX(+10px)
}

/* ------------------------------------------End Nav--------------------------------------- */





/* ----------------------------------------Start Header-------------------------------------- */

.cards {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 15px;
    flex-wrap: wrap;
    width: 100%;
}


.card {

    padding: 7px;
    height: 230px;
    background-color: white;
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    background: var(--background-card);
    width: 195px;
}



/* The Green Badge */
.green-badge {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: green;
    position: absolute;
    margin-left: -5px;
    margin-top: -5px;
    /* Or we can solve it by Befoe and After  */
}



/* The number inside green badge */
header .green-badge p {
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}



/* Image */
.img-card img {
    border-radius: 10px;
    margin: auto;
}



/* Title & Description */
header .title-description {
    padding: 5px 10px 5px 10px;
    color: var(--text-color);
}


/* The description */
header .title-description p {
    width: 170px;
    color: gray;
    margin-top: 5px;
    font-size: 11px;
    color: var(--text-color);
}



/* Info Button & View Button */
header .buttons {
    display: flex;
    margin-top: 10px;
}

/* ---------------------------------------------End Header--------------------------------------------- */



/* ---------------------------------------------Start Footer--------------------------------------------- */
footer {
    text-transform: capitalize;
    padding-top: 25px;
    padding-bottom: 25px;
    background: var(--background);
    color: var(--text-color);
    text-align: center;
    font-size: 20px;
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
}

/* ---------------------------------------------end Footer--------------------------------------------- */



/* ---------------------------------------------Media Query--------------------------------------------- */

@media (min-width:0px) and (max-width:480px) {
    nav {
        height: 200px;
        width: 100%;
        padding-bottom: 80px;
    }

    .container {
        height: 2090px;
        width: 60%;
        margin-right: 156px;
        margin: auto;
    }

    nav .list-item {
        /* background-color: red; */
        position: absolute;
        flex-direction: row;
        top: 80px;
        left: 0%;
        padding-top: 60px;
        width: 500px;
        text-align: center;
    }

    nav button {
        margin-right: 120px;
    }

    .cards {
        overflow: hidden;
        margin-left: 0px;
    }

    .card {
        width: 193.5px;
    }
}



@media (min-width:481px) and (max-width:768px) {
    nav {
        height: 200px;
        width: 100%;
        padding-bottom: 80px;
    }

    .container {
        height: 2230px;
        width: 60%;
    }

    nav .list-item {
        position: absolute;
        flex-direction: row;
        top: 80px;
        left: 0%;
        padding-top: 60px;
        margin-left: 15%;
        width: 500px;
        text-align: center;
    }

    .cards {
        overflow: hidden;
        margin-left: 0px;
    }

    .card {
        width: 193.5px;
    }

    footer {
        padding-right: 50px;
    }
}



@media (min-width:769px) and (max-width:1279px) {
    .container {
        height: 1200px;
        width: 76%;
    }

    nav .list-item {
        margin-right: 50px;
    }

    .cards {
        margin-left: -18px;
    }

    .card {
        width: 193.5px;
        margin: 10px 10px 10px 60px;
    }
}

/* -----------------------------------------------End--------------------------------------- */